.header {
    background-color: #696969; /*グレー*/
}

.wrap{
    width: 90%;
    background-color: #C0C0C0;
    height: 300px;
    margin: 0 auto;
}
.create-link {margin: 30px 0;
}    
.create-link a{
    padding: 8px 20px;
    background-color: black;
    color: white;
    border-radius: 8px;
    font-weight: bold;
    box-shadow: 0px 3px rgba(0, 0, 0, 0.2);
}

.submit-btn input{
    padding: 8px 20px;
    background-color: black;
    color: white;
    border-radius: 8px;
    font-weight: bold;
    box-shadow: 0px 3px rgba(0, 0, 0, 0.2);
}

.stock-link a{
    padding: 8px 20px;
    background-color: black;
    color: white;
    border-radius: 8px;
    font-weight: bold;
    box-shadow: 0px 3px rgba(0, 0, 0, 0.2);
}

.rack{
    width: 100%;
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
}

.rack-box{
    width: 30%;
    border: 1px solid black;
    border-radius: 8px;
    padding: 30px 10px;
}